<h1>Items</h1>
<%	 if @items.empty? %>
    <b>No items in the store</b>
    <% else	  %>
    <%=	 button_to "Show only expensive items", expensive_items_path, method: :get %>
    <%=	 button_to "Show all items", items_path, method: :get %>
    <table>
      <tr>
        <th> Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Actions</th>
        <th>Votes</th>
      </tr>
      <%= render partial: "row", collection: @items %>
 </table>
  <%=	 link_to "Add new item", new_item_path %>
<% end%>


